/* for student_form */
.jumbotron{
    background-color: lightblue;
    font-family: 'Potta One', cursive;
}
body{
    /* changing font of body and color of body */
    font-family: 'Roboto', 'sans-serif';
    background-color: #58d6b9;
}